# MOCREO v2 Credentials
MOCREO_V2_USER=your_email@example.com
MOCREO_V2_PASS=your_password

# MOCREO v3 Credentials
MOCREO_V3_EMAIL=your_email@example.com
MOCREO_V3_PASS=your_password
MOCREO_V3_API_KEY=your_api_key